#slider				{overflow:hidden; position:relative;}
#slider img			{border:0; float:left; margin:0; padding:0;}
#slider ul			{bottom:-20px; margin:0; padding:0; position:absolute;}		
#slider ul li		{float:left; height:18px; list-style:none; margin:0 4px 0 4px; width:18px;}
#slider_container	{left:0px; position:absolute; top:0px;}
#slider_next		{background:url('defaults.png') no-repeat top left; background-position:-35px -19px; display:block; height:34px; position:absolute; right:-35px; width:34px;}
#slider_previous	{background:url('defaults.png') no-repeat top left; background-position:0px -19px; display:block; height:34px; left:-35px; position:absolute; top:43%; width:34px;}
.disable			{background:url('defaults.png') no-repeat top left; background-position:0px 0px;}
.enable				{background:url('defaults.png') no-repeat top left; background-position:-20px 0px;}
